APP_PORT=8080
MYSQL_DATABASE=gleam_market
MYSQL_ROOT_PASSWORD=change-me
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=gleam
RABBITMQ_PASSWORD=change-me
APP_ADMIN_USERNAME=admin
APP_ADMIN_PASSWORD=change-me-now
APP_ADMIN_NICKNAME=平台管理员
